
Team00/Code00/.vs/CMake Overview
Team00/Code00/.vs/Code00/v16/Browse.VC.db
Team00/Code00/.vs/Code00/v16/Browse.VC.db-shm
Team00/Code00/.vs/Code00/v16/Browse.VC.db-wal
Team00/Code00/.vs/Code00/v16/Browse.VC.opendb
Team00/Code00/.vs/ProjectSettings.json
Team00/Code00/.vs/slnx.sqlite
Team00/Code00/build_win/x86-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
Team00/Code00/build_win/x86-Debug/.cmake/api/v1/reply/cache-v2-234bd129a02b904c96c3.json
Team00/Code00/build_win/x86-Debug/.cmake/api/v1/reply/cmakeFiles-v1-50f8644d4e9ee6126d3c.json
Team00/Code00/build_win/x86-Debug/.cmake/api/v1/reply/codemodel-v2-140edb6a8ce996b0d2c4.json
Team00/Code00/build_win/x86-Debug/.cmake/api/v1/reply/index-2021-02-09T09-34-20-0607.json
Team00/Code00/build_win/x86-Debug/.cmake/api/v1/reply/target-autotester-Debug-fd260428d3985e44a78c.json
Team00/Code00/build_win/x86-Debug/.cmake/api/v1/reply/target-integration_testing-Debug-a0a635bc1f80a7475294.json
Team00/Code00/build_win/x86-Debug/.cmake/api/v1/reply/target-spa-Debug-40d5e601567a08f4dd0b.json
Team00/Code00/build_win/x86-Debug/.cmake/api/v1/reply/target-unit_testing-Debug-c5636ff9013634c8436e.json
Team00/Code00/build_win/x86-Debug/build.ninja
Team00/Code00/build_win/x86-Debug/cmake_install.cmake
Team00/Code00/build_win/x86-Debug/CMakeCache.txt
Team00/Code00/build_win/x86-Debug/CMakeFiles/3.18.20081302-MSVC_2/CMakeCCompiler.cmake
Team00/Code00/build_win/x86-Debug/CMakeFiles/3.18.20081302-MSVC_2/CMakeCXXCompiler.cmake
Team00/Code00/build_win/x86-Debug/CMakeFiles/3.18.20081302-MSVC_2/CMakeDetermineCompilerABI_C.bin
Team00/Code00/build_win/x86-Debug/CMakeFiles/3.18.20081302-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
Team00/Code00/build_win/x86-Debug/CMakeFiles/3.18.20081302-MSVC_2/CMakeRCCompiler.cmake
Team00/Code00/build_win/x86-Debug/CMakeFiles/3.18.20081302-MSVC_2/CMakeSystem.cmake
Team00/Code00/build_win/x86-Debug/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdC/CMakeCCompilerId.c
Team00/Code00/build_win/x86-Debug/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
Team00/Code00/build_win/x86-Debug/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
Team00/Code00/build_win/x86-Debug/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Team00/Code00/build_win/x86-Debug/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
Team00/Code00/build_win/x86-Debug/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
Team00/Code00/build_win/x86-Debug/CMakeFiles/cmake.check_cache
Team00/Code00/build_win/x86-Debug/CMakeFiles/CMakeOutput.log
Team00/Code00/build_win/x86-Debug/CMakeFiles/rules.ninja
Team00/Code00/build_win/x86-Debug/CMakeFiles/ShowIncludes/foo.h
Team00/Code00/build_win/x86-Debug/CMakeFiles/ShowIncludes/main.c
Team00/Code00/build_win/x86-Debug/CMakeFiles/ShowIncludes/main.obj
Team00/Code00/build_win/x86-Debug/CMakeFiles/TargetDirectories.txt
Team00/Code00/build_win/x86-Debug/src/autotester/cmake_install.cmake
Team00/Code00/build_win/x86-Debug/src/integration_testing/cmake_install.cmake
Team00/Code00/build_win/x86-Debug/src/spa/cmake_install.cmake
Team00/Code00/build_win/x86-Debug/src/unit_testing/cmake_install.cmake
Team00/Code00/build_win/x86-Debug/Testing/Temporary/LastTest.log
Team00/Code00/build_win/x86-Debug/VSInheritEnvironments.txt
Team00/Code00/.vs/Code00/v16/.suo
Team00/Code00/build_win/x86-Debug/.ninja_deps
Team00/Code00/build_win/x86-Debug/.ninja_log
Team00/Code00/build_win/x86-Debug/src/autotester/autotester.exe
Team00/Code00/build_win/x86-Debug/src/autotester/autotester.ilk
Team00/Code00/build_win/x86-Debug/src/autotester/autotester.pdb
Team00/Code00/build_win/x86-Debug/src/autotester/CMakeFiles/autotester.dir/embed.manifest
Team00/Code00/build_win/x86-Debug/src/autotester/CMakeFiles/autotester.dir/intermediate.manifest
Team00/Code00/build_win/x86-Debug/src/autotester/CMakeFiles/autotester.dir/manifest.rc
Team00/Code00/build_win/x86-Debug/src/autotester/CMakeFiles/autotester.dir/manifest.res
Team00/Code00/build_win/x86-Debug/src/autotester/CMakeFiles/autotester.dir/src/TestWrapper.cpp.obj
Team00/Code00/build_win/x86-Debug/src/autotester/CMakeFiles/autotester.dir/vc140.pdb
Team00/Code00/build_win/x86-Debug/src/integration_testing/CMakeFiles/integration_testing.dir/embed.manifest
Team00/Code00/build_win/x86-Debug/src/integration_testing/CMakeFiles/integration_testing.dir/intermediate.manifest
Team00/Code00/build_win/x86-Debug/src/integration_testing/CMakeFiles/integration_testing.dir/manifest.rc
Team00/Code00/build_win/x86-Debug/src/integration_testing/CMakeFiles/integration_testing.dir/manifest.res
Team00/Code00/build_win/x86-Debug/src/integration_testing/CMakeFiles/integration_testing.dir/src/main.cpp.obj
Team00/Code00/build_win/x86-Debug/src/integration_testing/CMakeFiles/integration_testing.dir/src/TestFrontEnd.cpp.obj
Team00/Code00/build_win/x86-Debug/src/integration_testing/CMakeFiles/integration_testing.dir/vc140.pdb
Team00/Code00/build_win/x86-Debug/src/integration_testing/integration_testing.exe
Team00/Code00/build_win/x86-Debug/src/integration_testing/integration_testing.ilk
Team00/Code00/build_win/x86-Debug/src/integration_testing/integration_testing.pdb
Team00/Code00/build_win/x86-Debug/src/spa/CMakeFiles/spa.dir/spa.pdb
Team00/Code00/build_win/x86-Debug/src/spa/CMakeFiles/spa.dir/src/DesignExtractor.cpp.obj
Team00/Code00/build_win/x86-Debug/src/spa/CMakeFiles/spa.dir/src/Parser.cpp.obj
Team00/Code00/build_win/x86-Debug/src/spa/CMakeFiles/spa.dir/src/PKB.cpp.obj
Team00/Code00/build_win/x86-Debug/src/spa/CMakeFiles/spa.dir/src/TNode.cpp.obj
Team00/Code00/build_win/x86-Debug/src/spa/spa.lib
Team00/Code00/build_win/x86-Debug/src/unit_testing/CMakeFiles/unit_testing.dir/embed.manifest
Team00/Code00/build_win/x86-Debug/src/unit_testing/CMakeFiles/unit_testing.dir/intermediate.manifest
Team00/Code00/build_win/x86-Debug/src/unit_testing/CMakeFiles/unit_testing.dir/manifest.rc
Team00/Code00/build_win/x86-Debug/src/unit_testing/CMakeFiles/unit_testing.dir/manifest.res
Team00/Code00/build_win/x86-Debug/src/unit_testing/CMakeFiles/unit_testing.dir/src/main.cpp.obj
Team00/Code00/build_win/x86-Debug/src/unit_testing/CMakeFiles/unit_testing.dir/src/TestPKB.cpp.obj
Team00/Code00/build_win/x86-Debug/src/unit_testing/CMakeFiles/unit_testing.dir/vc140.pdb
Team00/Code00/build_win/x86-Debug/src/unit_testing/unit_testing.pdb
Team00/Code00/.vs/Code00/v16/ipch/AutoPCH/ae70a77d2115abcd/PKB.ipch
Team00/Code00/build_win/x86-Debug/src/unit_testing/unit_testing.ilk
Team00/Code00/.vs/cmake.db
Team00/Code00/.vs/Code00/v16/ipch/AutoPCH/3288772256ee02f2/DESIGNEXTRACTOR.ipch
Team00/Code00/.vs/Code00/v16/ipch/AutoPCH/34b379a6a02ea82b/PKB.ipch
Team00/Code00/.vs/Code00/v16/ipch/AutoPCH/a0e088eeb99b94a2/QUERYINPUT.ipch
Team00/Code00/build_win/x86-Debug/.cmake/api/v1/reply/cmakeFiles-v1-12158be95a21520f8487.json
Team00/Code00/build_win/x86-Debug/.cmake/api/v1/reply/codemodel-v2-f184b8da32070c7fb0b5.json
Team00/Code00/build_win/x86-Debug/.cmake/api/v1/reply/index-2021-02-09T09-37-18-0420.json
Team00/Code00/build_win/x86-Debug/.cmake/api/v1/reply/target-spa-Debug-16682a151e007f221fe0.json
*.ipch
*.json
*.obj
