################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Team00/Code00/.vs
Team00/.DS_Store
Team00/Code00/.DS_Store
Team00/Tests00/.DS_Store
